{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</head>
<body>
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
<div class="container">
    <div class="post">
        <div class="post-image">
            <img src="{{object.image.url}}" width="400" height="400">
        </div>
        <div class="post-content">
            <div class="post-header">
                <h1>{{object.title}}</h1>
            </div>
            <p>{{object.description}}
            </p>
            <p>{{object.created_date}}</p>
            <p>{{object.updated_date}}</p>
        </div>
        <button type="button" class="btn btn-outline-success"><a href="/blog/" class="a">Back</a></button>
        <button type="button" class="btn btn-outline-success"><a href="/blog/{{object.id}}/update/" class="a">Update</a></button>
        <button type="button" class="btn btn-outline-success"><a href="/blog/{{object.id}}/delete/" class="a">Delete</a></button>
    </div>
</div>
<center>
    <table border="4" bgcolor="#7fffd4">

        <tr><th>Комментарий</th><th>Дата создания комента</th><th>Оценка</th></tr>
        <tr>{% for j in object.comment_object.all %}
        <td>{{j.text}}</td> <td>{{j.created_date}}</td> <td>{{j.rate}}</td>
        {% endfor %}</tr>

    </table>
</center>
</body>
</html>